@import '../variables.scss';

.inputWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 3rem;
  .input {
    width: 100%;
    box-shadow: none;
    border-style: solid;
    padding: 0 1rem;
    height: $input-height;
    background: transparent;
    border-radius: 50px;
    line-height: 1.5rem;
    border-width: 2px;
    border-color: $green-dark;
    color: $green-dark;
    font-size: 1rem;
    font-family: $font-family;
    &:focus {
      outline: none;
      border-color: $pink;
    }
  }

  .submitButton {
    position: absolute;
    right: 5px;
    top: 5px;
    height: calc(#{$input-height} - 6px);
    width: calc(#{$input-height} - 6px);
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lighten($pink, 10%);
    cursor: pointer;

    .icon {
      color: $green-dark;
    }
  }

  @media (max-width: 600px) {
    margin: 0;
  }
}