// COLORS THEME
$black: #06070eff;
$green-dark: #29524aff;
$green-light: #75b09cff;
$pink: #e9bcb7ff;
$yellow: #f7f052ff;

// FONTS
$font-family: 'Roboto', sans-serif;
$font-size-lg: 24px;
$font-size-md: 16px;
$font-size-sm: 12px;

// OTHERS
$input-height: 60px;